<h1>About me!</h1>
<p>
  I am an artist and programmer who likes video games, graphic novels and Netflix. I have 8 small parakeets who are just the cutest little things!!! I also play 3 instruments: the guitar, violin and piano.
  <br>
  <br>
  As much as I try, I can't draw humans(yet) so if you make a commission request please keep this in mind.
</p>
<br>
<br>
<p>I will also upload my musical creations to this page. Feel free to check them out.</p>

<br>
<br>
<br>
<p>Valete omnes! (that's latin for "bye everyone!")</p>
<img src="../../assets/images/Kon.gif" width="400px" height="400px">
<p>Confront:</p>
<audio controls>
  <source src="../../assets/media/String Warfare_ Jazzy battle!_confront.mp3" type="audio/mpeg">
</audio>
<p>Excalibur</p>
<audio controls>
    <source src="../../assets/media/String Warfare_ Excalibur.mp3" type="audio/mpeg">
</audio>
<p>Welcome to the orchestra:</p>
<audio controls>
  <source src="../../assets/media/Welcome to the Orchestra!!!!.wav" type="audio/wav">
</audio>