<h1>Pokemon art</h1>
<p>
  This page includes my primary type of art. It contains OCs and normal pokemon.<br>
  Fun fact: my favorite pokemon to draw is greninja. <br> <br>
</p>
<br>
<p>A digital drawing of Greninja</p>
<img src="../../assets/images/greninja.png" width="400px" height="400px">

<br>
<p>Me as a Greninja</p>
<img src="../../assets/images/MBGreninja.png">
<br>
<p>MB Greninja playing guitar</p>
<img src="../../assets/images/UWEGreninja.png">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br>
<br>