
  <div class="page-container">
    <header>
      <div>
        <button mat-button class="menu-button" (click)="sidenav.toggle()">
          <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
        </button>
    
        <a routerLink="/home">
          <span class="app-title">MB art website</span>
        </a>
      </div>
    </header>
    <mat-sidenav-container class="sidenav-container" autosize>
      <mat-sidenav name= "sidenav" #sidenav autoFocus="false" mode="over" [(opened)]="isMenuOpen" class="sidenav">
        <a mat-button routerLink="/home">Home</a>
        <a mat-button routerLink="/about">About me</a>
        <a mat-button routerLink="/commissions">Commissions</a>
        <a mat-button routerLink="/pokemon">Pokemon</a>
        <a mat-button routerLink="/scythe">Scythe the dragon</a>
        <a mat-button routerLink="/OtherArt">Other art</a>
        
      </mat-sidenav>
      <mat-sidenav-content>
        <main>
          <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
    </mat-sidenav-container>
    
    
  
  </div> 
 



