<p>
  Welcome to the Other art tab! This tab has different types of art that don't belong in the other categories<br>
  <br>
</p>
<svg height="110" width="110">
  <defs>
    <filter id="f1" x="0" y="0">
      <feGaussianBlur in="SourceGraphic" stdDeviation="15" />
    </filter>
  </defs>
  <rect width="90" height="90" stroke="green" stroke-width="3"
  fill="cyan" filter="url(#f1)" />
</svg>
<svg height="140" width="140">
  <defs>
    <filter id="f4" x="0" y="0" width="200%" height="200%">
      <feOffset result="offOut" in="SourceGraphic" dx="20" dy="20" />
      <feColorMatrix result="matrixOut" in="offOut" type="matrix"
      values="0.2 0 0 0 0 0 0.2 0 0 0 0 0 0.2 0 0 0 0 0 1 0" />
      <feGaussianBlur result="blurOut" in="matrixOut" stdDeviation="10" />
      <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
    </filter>
  </defs>
  <rect width="90" height="90" stroke="cyan" stroke-width="3"
  fill="red" filter="url(#f4)" />
</svg>
<p>What you see here are examples of SVGs. SVGs are vector graphics that you can make.</p>
<br>
<br>
<p>This is a drawing of Azusa Nakano from the anime K-on. She was the first human that I ever drew.</p>
<img src="../../assets/images/Azusa.png">
<br>
<p>A picture of my dream electric violin</p>
<img src="../../assets/images/ElectricViolin.png">
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
